<header>
  <div class="header-area">
      <div class="header-top_area d-none d-lg-block">
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-md-6 ">
                      <div class="social_media_links">
                          <a target="_blank" href="https://www.linkedin.com/in/cyaltda/?originalSubdomain=co">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-6 col-md-6">
                      <div class="short_contact_list">
                          <ul>
                              <li><a> <i class="fa fa-envelope"></i> contacto@cya.com.co</a></li>
                              <li><a> <i class="fa fa-phone"></i> +57 (8) 674 1192</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="sticky-header" class="main-header-area">
          <div class="container">
              <div class="header_bottom_border">
                  <div class="row align-items-center">
                      <div class="col-xl-3 col-lg-2">
                          <div class="logo">
                              <a routerLink="/">
                                  <img src="../../../../assets/img/logo.png" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-7">
                          <div class="main-menu  d-none d-lg-block">
                              <nav>
                                  <ul id="navigation">
                                      <li *ngFor="let item of items;">
                                        <a routerLinkActive="active" [routerLink]="item.url" >{{item.nombre}} <i class="ti-angle-down" *ngIf="item.url == 'servicios'"></i></a>
                                        <ul class="submenu" *ngIf="item.url == 'servicios'">
                                          <li *ngFor="let subitem of subitemsServicios; let i as index">
                                            <a (click)="redirigir('/servicios',subitem.url)">{{subitem.nombre}}</a>
                                          </li>
                                        </ul>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                          <div class="Appointment">
                              <div class="book_btn d-none d-lg-block">
                                  <a routerLink="/contacto" > Contacto</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>
