<!-- SECCIÓN BANNER -->
<div class="bradcam_area" id="InitServicesId" style="background-image: url(../../../../assets/img/banner/services_bg.png); ">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text text-center">
                  <h3>Nuestros Servicios</h3>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- SECCIÓN SOLUCIONES -->
<div class="financial_solution_area" style="padding-bottom: 50px; padding-top: 100px;">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 col-lg-6">
              <div class="financial_active owl-carousel" style="padding-top: 30px;">
                  <div class="single_finalcial_wrap">
                      <h3>
                          Desarrollo Comercial<br />
                      </h3>
                      <p>Con gestión multidisciplinar para tus productos y servicios, accede a nuevos mercados o identifica clientes potenciales. El desarrollo comercial es el motor de la empresa, nos encaminaremos a reforzar las ventas, definir nuevas oportunidades y diseñar estrategias de comercialización para seguir creciendo.</p>
                  </div>
                  <div class="single_finalcial_wrap">
                      <h3>
                          Declaración de Renta, Retención en la Fuente, IVA, e Industria y Comercio
                      </h3>
                      <p>Expresa aquellas actividades realizadas, así como hechos susceptibles de ser gravados con un determinado impuesto. Refleja la cantidad de ingresos ganados en un año en específico e informa tu situación patrimonial para rendir cuentas al Estado.</p>
                  </div>
                  <div class="single_finalcial_wrap">
                      <h3>
                          Consultoría y Asesoría en NIIF, NIC-SP y NIAS
                      </h3>
                      <p>Te apoyaremos en el proceso de conversión a los nuevos marcos técnicos normativos en información financiera, con el diseño de manuales de políticas contables específicos para su organización, y en la preparación de Estados Financieros bajo los nuevos marcos técnicos. Te acompañaremos en el proceso de implementación de las Normas Internacionales de Información Financiera – NIIF o Normas Internacionales de Contabilidad para el Sector Público NIC – SP.</p>
                  </div>
                  <div class="single_finalcial_wrap">
                      <h3>
                          Revisoría Fiscal
                      </h3>
                      <p>Te ayudaremos a revisar los procedimientos internos de la empresa, verificando el cumplimiento de normas estatutarias, y leyes que le son aplicables. Brindaremos la confianza al público en general sobre la información representada en la contabilidad y los estados financieros.</p>
                  </div>
                  <div class="single_finalcial_wrap">
                      <h3>
                          Auditoría Externa
                      </h3>
                      <p>Supervisaremos información sobre estados financieros y comerciales para analizar y controlar la marcha de la empresa. Daremos informe de auditoría fidedigno y veraz para terceras partes interesadas, documentando con fe pública y total credibilidad la información recolectada.</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6">
              <div class="finance_thumb">
                  <img src="../../../../assets/img/about/allservices1.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ soluciones-->

<!--servicios especificados 1-->
<div class="about_wrap_area" id="GrupoNegociosId" style="background-image: url(img/banner/business_bg.png); padding-top: 100px; padding-bottom: 80px;">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-20">
                  <h3 style="color:white;">Consultoría Empresarial</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/controls.svg" alt="">
                  <a href="#ServicioGrupoNegocios1Id">
                      <h3>Desarrollo Comercial</h3>
                      <p>Con gestión multidisciplinar para tus productos y servicios, accede a nuevos mercados o identifica clientes potenciales.</p>
                  </a>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/bar-chart.svg" alt="">
                  <a href="#ServicioGrupoNegocios2Id">
                      <h3>Evaluación de Proyectos</h3>
                      <p>Contempla estudios técnicos para la toma de desiciones sobre tus proyectos empresariales.</p>
                  </a>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/puzzle.svg" alt="">
                  <a href="#ServicioGrupoNegocios3Id">
                      <h3>Selección de Talento Humano</h3>
                      <p>Te apoyaremos en la integración de nuevos colaboradores para tu empresa.</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio_details_area" style="padding-bottom: 50px; padding-top: 50px;">
  <div class="container">
      <div class="row" id="ServicioGrupoNegocios1Id" style="scroll-margin-top: 100px;">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Desarrollo Comercial<br /></h3>
                  <p>Con gestión multidisciplinar para tus productos y servicios, accede a nuevos mercados o identifica clientes potenciales. El desarrollo comercial es el motor de la empresa, nos encaminaremos a reforzar las ventas, definir nuevas oportunidades y diseñar estrategias de comercialización para seguir creciendo.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/business_up1.png" alt="">
              </div>
          </div>
      </div>
      <div class="row" id="ServicioGrupoNegocios2Id" style="scroll-margin-top: 100px;">
          <br /><br />
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Evaluación de Proyectos</h3>
                  <p>Identifica la conveniencia para inversiones futuras, analizando la asignación de recursos de manera optima, y contemplando estudios técnicos, de mercado, legales organizacionales y ambientales, como instrumentos para la toma de desiciones sobre los proyectos empresariales.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/projects_up1.png" alt="">
              </div>
          </div>
      </div>
      <div class="row" id="ServicioGrupoNegocios3Id" style="scroll-margin-top: 100px;">
          <br /><br />
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Selección de Talento Humano</h3>
                  <p>Te apoyaremos en la integración de nuevos colaboradores para tu empresa. A través de comunicación interna, avisos de prensa, ferias de trabajo, portales web de empleo, redes sociales o agencias externas tendrás candidatos y podrás aplicaremos diversas estrategias durante la selección.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/human_talent1.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>

<!-- servicios 2 -->
<div class="about_wrap_area" id="GrupoTributarioId" style="background-image: url(img/banner/tributaria_bg.png); padding-top: 100px; padding-bottom: 80px;">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-20">
                  <h3 style="color:white;">Consultoría Financiera y Tributaria</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/controls.svg" alt="">
                  <a href="#ServicioGrupoTributario1Id">
                      <h3>Declaración de Renta, Retención en la Fuente, IVA, e Industria y Comercio</h3>
                      <p>Expresa aquellas actividades realizadas, así como hechos susceptibles de ser gravados con un determinado impuesto.</p>
                  </a>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/bar-chart.svg" alt="">
                  <a href="#ServicioGrupoTributario2Id">
                      <h3>Consultoría y Asesoría en NIIF, NIC-SP y NIAS<br />&nbsp;</h3>
                      <p>Te apoyaremos en el proceso de conversión a los nuevos marcos técnicos normativos en información financiera.</p>
                  </a>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/puzzle.svg" alt="">
                  <a href="#ServicioGrupoTributario3Id">
                      <h3><br />Evaluación de Planes y Estados Financieros<br /></h3>
                      <p>Analizaremos la situación financiera actual y futura de la empresa, documentando tu información contable para un periodo de tiempo.</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio_details_area" style="padding-bottom: 50px; padding-top: 50px;">
  <div class="container">
      <div class="row" id="ServicioGrupoTributario1Id" style="scroll-margin-top: 100px;">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Declaración de Renta, Retención en la Fuente, IVA, e Industria y Comercio</h3>
                  <p>Expresa aquellas actividades realizadas, así como hechos susceptibles de ser gravados con un determinado impuesto. Refleja la cantidad de ingresos ganados en un año en específico e informa tu situación patrimonial para rendir cuentas al Estado.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/declaracion1.jpg" alt="">
              </div>
          </div>
      </div>
      <div class="row" id="ServicioGrupoTributario2Id" style="scroll-margin-top: 100px;">
          <br /><br />
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Consultoría y Asesoría en NIIF, NIC-SP y NIAS</h3>
                  <p>Te apoyaremos en el proceso de conversión a los nuevos marcos técnicos normativos en información financiera, con el diseño de manuales de políticas contables específicos para su organización, y en la preparación de Estados Financieros bajo los nuevos marcos técnicos. Te acompañaremos en el proceso de implementación de las Normas Internacionales de Información Financiera – NIIF o Normas Internacionales de Contabilidad para el Sector Público NIC – SP.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/normas-internacionales.jpg" alt="">
              </div>
          </div>
      </div>
      <div class="row" id="ServicioGrupoTributario3Id" style="scroll-margin-top: 100px;">
          <br /><br />
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Evaluación de Planes y Estados Financieros</h3>
                  <p>Analizaremos la situación financiera actual y futura de la empresa. Documentaremos la información contable de la empresa de manera agrupada y totalizada en un determinado período de tiempo. Seguiremos la estructura marcada por el plan general de contabilidad, y aplicaremos los principios de contabilidad aceptados por la empresa.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/equipo.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>

<!-- servicios 3 -->
<div class="about_wrap_area" id="GrupoAuditoriaId" style="background-image: url(img/banner/auditoria_bg.jpg); padding-top: 100px; padding-bottom: 80px; ">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-20">
                  <h3 style="color:white;">Auditoría y Revisoría Fiscal</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-2 col-md-3 col-lg-2"></div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/controls.svg" alt="">
                  <a href="#ServicioAuditoria1Id">
                      <h3><br />Revisoría Fiscal&nbsp;</h3>
                      <p>Revisaremos los procedimientos internos de la empresa, verificando el cumplimiento de normas estatutarias y leyes aplicables.</p>
                  </a>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="../../../../assets/img/svg_icon/bar-chart.svg" alt="">
                  <a href="#ServicioAuditoria2Id">
                      <h3><br />Auditoría Externa<br />&nbsp;</h3>
                      <p>Supervisaremos información sobre estados financieros y comerciales para analizar y controlar la marcha de la empresa.</p>
                  </a>
              </div>
          </div>
          <!--<div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service_wrap text-center">
                  <img src="img/svg_icon/puzzle.svg" alt="">
                  <a href="#ServicioAuditoria3Id">
                      <h3><br />Control Interno<br />&nbsp;</h3>
                      <p>Velaremos para que tus actividades y operaciones sean de acuerdo con las normas constitucionales y legales vigentes.</p>
                  </a>
              </div>
          </div>-->
      </div>
  </div>
</div>
<div class="portfolio_details_area" style="padding-bottom: 50px; padding-top: 50px;">
  <div class="container">
      <div class="row" id="ServicioAuditoria1Id" style="scroll-margin-top: 100px;">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Revisoría Fiscal</h3>
                  <p>Te ayudaremos a revisar los procedimientos internos de la empresa, verificando el cumplimiento de normas estatutarias, y leyes que le son aplicables. Brindaremos la confianza al público en general sobre la información representada en la contabilidad y los estados financieros.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/fiscal.jpg" alt="">
              </div>
          </div>
      </div>
      <br /><br />
      <div class="row" id="ServicioAuditoria2Id" style="scroll-margin-top: 100px;">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Auditoría Externa</h3>
                  <p>Supervisaremos información sobre estados financieros y comerciales para analizar y controlar la marcha de la empresa. Daremos informe de auditoría fidedigno y veraz para terceras partes interesadas, documentando con fe pública y total credibilidad la información recolectada.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/auditoria-externa.jpg" alt="">
              </div>
          </div>
      </div>
      <!--<br /><br />
      <div class="row" id="ServicioAuditoria3Id" style="scroll-margin-top: 100px;">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <h3>Control Interno</h3>
                  <p>Velaremos para que todas las actividades, operaciones y actuaciones se realicen de acuerdo con las normas constitucionales y legales vigentes. Apoyando el establecimiento de principios, métodos y procedimientos coordinados entre sí, para proteger los recursos de la entidad, contra fraudes y errores sobre los procesos de la empresa.</p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="img/gallery/asesoria-interna.jpg" alt="">
              </div>
          </div>
      </div>-->
  </div>
</div>
