
<!-- SECCIÓN BANNER -->
<div class="bradcam_area" style="background-image: url(../../../../assets/img/banner/aboutus_bg.png)">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text text-center">
                  <h3>Sobre Nosotros</h3>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- SECCIÓN MISION Y VISION -->
<div class="portfolio_details_area" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content text-center mb-50">
                  <span>Historia</span>
                  <h3>
                      Consultarías y Asesorías Empresariales SAS
                  </h3>
                  <p>
                      Nacimos en Villavicencio, Meta, en 2004, como un pequeño negocio emprendedor en servicios contables que empezó a trabajar para empresas de gran trayectoria en la ciudad, reconocidas en el área de ferreterías, creciendo poco a poco, encontrando en la experiencia y la cooperación con nuestros clientes el fundamento para fortalecer nuestros servicios, ganando reconocimiento por el trabajo eficiente que se ha entregado en cada proyecto y, llegando así a asesorar a empresas ubicadas por toda la región de la Orinoquía.
                      <br />
                      Actualmente, los servicios de consultoría y asesorías se distribuyen por la región, ampliando actividades con empresas de la capital del país y con proyección a la alianza internacional, que permita exportar servicios hacia países como Estados Unidos, entre otros.
                  </p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/history1.png" alt="">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-8 offset-xl-2">
              <div class="portfolio_details_content mt-50 mb-50 text-center">
                  <h4>Nuestra Visión</h4>
                  <p>
                      C&A Consultorías y Asesorías Empresariales apoyará el crecimiento de sus clientes con excelencia, cooperación y respeto, mejorando sus productos y servicios con orientación al consumidor. Nuestro propósito es trabajar de manera transparente para crecer juntos, con nuestros clientes y colaboradores, mejorando constantemente nuestros servicios y pretendiendo un impacto positivo a largo plazo en nuestra región.
                      <br />
                      Ofreceremos servicios confiables y diseñados para la evolución efectiva de las empresas, toma de decisiones oportuna y adecuado control gerencial.
                  </p>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="portfolio_details_thumb">
                  <img src="../../../../assets/img/gallery/vision1.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
