.carousel-image {
  width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción original de la imagen */
  object-fit: cover; /* Escala la imagen para cubrir todo el contenedor manteniendo la relación de aspecto */
  object-position: center center; /* Centra la imagen horizontal y verticalmente en el contenedor */
}

.carousel-image.darkened {
  filter: brightness(0.5); /* Ajusta el valor de brillo según tus preferencias */
}
