
<div class="bradcam_area" style="background-image: url(assets/img/banner/customer_bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Clientes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="contact-section" style="padding-top: 65px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Solicitud de Certificado</h2>
            </div>
            <div class="col-lg-8">
              <form id="form-aplicacion"
                    [formGroup]="formSolicitud"
                    #myForm="ngForm"
                    (ngSubmit)="iniciarPeticionPost()"
                    class="form-contact contact_form">

                    <div class="col-12">
                      <div class="form-group">
                          <label for="certificationType">Tipo de Certificación (*)</label>
                          <select
                            class="form-control valid"
                            name="certificationType"
                            id="certificationType"
                            formControlName="tipoCerficacion"
                            placeholder="Selecciona Tipo de Certificación"
                            [class.is-valid]="tipoCerficacionField!.valid"
                            [class.is-invalid]="tipoCerficacionField!.touched && !tipoCerficacionField!.valid">
                              <option [value]="opcion.valor" *ngFor="let opcion of opcionesCertificacion;">{{opcion.texto}}</option>
                          </select>
                          <div class="mensaje-error" *ngIf="!tipoCerficacionField!.valid  && (tipoCerficacionField!.dirty || tipoCerficacionField!.touched)">
                            <div *ngIf="tipoCerficacionField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label for="identificationType">Tipo de Identificación (*)</label>
                        <select
                          class="form-control valid"
                          name="identificationType"
                          id="identificationType"
                          formControlName="tipoIdentificacion"
                          placeholder="Selecciona Tipo de Documento"
                          [class.is-valid]="tipoIdentificacionField!.valid"
                          [class.is-invalid]="tipoIdentificacionField!.touched && !tipoIdentificacionField!.valid">
                            <option [value]="opcion.valor" *ngFor="let opcion of opcionesIdentificacion;">{{opcion.texto}}</option>
                        </select>
                          <div class="mensaje-error" *ngIf="!tipoIdentificacionField!.valid  && (tipoIdentificacionField!.dirty || tipoIdentificacionField!.touched)">
                            <div *ngIf="tipoIdentificacionField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                          <label for="identificationNumber">Número de Identificación (*)</label>
                          <input
                            class="form-control valid"
                            name="identificationNumber"
                            id="identificationNumber"
                            formControlName="identificacion"
                            type="text"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Ingresa Número de Identificación'"
                            placeholder="Ingresa Número de Identificación"
                            [class.is-valid]="identificacionField!.valid"
                            [class.is-invalid]="identificacionField!.touched && !identificacionField!.valid">

                          <div class="mensaje-error" *ngIf="!identificacionField!.valid  && (identificacionField!.dirty || identificacionField!.touched)">
                            <div *ngIf="identificacionField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                            <div *ngIf="identificacionField!.errors?.['min']">
                              *La cédula debe tener al menos 6 digitos.
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-12">
                    <label>Datos de Contacto (*)</label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input
                              class="form-control valid"
                              name="email"
                              id="email"
                              type="email"
                              formControlName="email"
                              onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Ingresa dirección de correo electrónico'"
                              placeholder="Ingresa dirección de correo electrónico"
                              autocomplete="off"
                              [class.is-valid]="emailField!.valid"
                              [class.is-invalid]="emailField!.touched && !emailField!.valid">
                              <div class="mensaje-error" *ngIf="!emailField!.valid  && (emailField!.dirty || emailField!.touched)">
                                <div *ngIf="emailField!.errors?.['required']">
                                  *Este campo es requerido
                                </div>
                                <div *ngIf="emailField!.errors?.['email']">
                                  *El email no es válido.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone">Teléfono</label>
                            <input
                              class="form-control valid"
                              name="phone"
                              id="phone"
                              type="number"
                              formControlName="telefono"
                              onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Ingresa número de teléfono celular'"
                              placeholder="Ingresa número de teléfono celular"
                              autocomplete="off"
                              [class.is-valid]="telefonoField!.valid"
                              [class.is-invalid]="telefonoField!.touched && !telefonoField!.valid">
                              <div class="mensaje-error" *ngIf="!telefonoField!.valid  && (telefonoField!.dirty || telefonoField!.touched)">
                                <div *ngIf="telefonoField!.errors?.['required']">
                                  *Este campo es requerido
                                </div>
                                <div *ngIf="telefonoField!.errors?.['min']">
                                  *El número debe tener 10 digitos.
                                </div>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                      <input type="submit" class="button button-contactForm boxed-btn" value="Enviar">
                  </div>
                  <div class="col-sm-3">
                      <div id="loaderSender" class="loader" style="display: none;"></div>
                  </div>
              </div>
              </form>
            </div>
        </div>
    </div>

</section>

