<!-- footer start -->
<footer class="footer" style="position: relative;">
  <div class="footer_top" style="padding-top: 100px;padding-bottom: 80px;">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="footer_widget">
                      <h3 translate="no" class="footer_title" style="margin-bottom: 10px;">
                          Consultorías y Asesorías Empresariales SAS
                      </h3>
                      <div class="footer_logo" style="margin-bottom: 10px;">
                          <a (click)="redirigir('/inicio', '')">
                              <img src="../../../../assets/img/footer_logo.png" alt="">
                          </a>
                      </div>
                      <p>
                          Firma colombiana de consultores empresariales enfocada en el crecimiento de tu negocio.
                      </p>
                      <div class="socail_links">
                          <ul>
                              <li>
                                  <a href="#">
                                      <i class="ti-twitter-alt"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="https://www.linkedin.com/in/cyaltda/?originalSubdomain=co" target="_blank">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                  <div class="footer_widget">
                      <h3 class="footer_title">
                          <a (click)="redirigir('/servicios', '')">Servicios</a>
                      </h3>
                      <ul>
                          <li><a (click)="redirigir('/servicios', 'GrupoNegociosId')">Empresarial</a></li>
                          <li><a (click)="redirigir('/servicios', 'GrupoTributarioId')">Tributaria</a></li>
                          <li><a (click)="redirigir('/servicios', 'GrupoAuditoriaId')">Auditoría</a></li>
                      </ul>

                  </div>
              </div>
              <div class="col-xl-2 col-md-6 col-lg-2">
                  <div class="footer_widget">
                      <h3 class="footer_title">
                          Enlaces
                      </h3>
                      <ul>
                          <li><a (click)="redirigir('/nosotros', '')">Nosotros</a></li>
                          <li><a (click)="redirigir('/clientes', '')">Clientes</a></li>
                          <li><a (click)="redirigir('/contacto', '')">Contacto</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-3 col-md-6 col-lg-3">
                  <div class="footer_widget">
                      <h3 class="footer_title">
                          Ubicación
                      </h3>
                      <ul>
                          <li>Calle 15 nro. 40-01,</li>
                          <li translate="no">C.C. Primavera Urbana Of. 533</li>
                          <li>Villavicencio, Meta</li>
                          <li><a>contacto@cya.com.co</a></li>
                          <li>+57 (8) 674 1192</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copy-right_text">
      <div class="container">
          <div class="footer_border"></div>
          <div class="row">
              <div class="col-xl-12">
                  <p class="copy_right text-center">
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      {{anoActual}}
                      Todos los derechos reservados | Plantilla Diseñado por
                      <a href="https://colorlib.com" target="_blank">Colorlib</a>. Implementada por
                      <a href="https://www.linkedin.com/in/heiller-martinez/" target="_blank">J. Heiller Martinez</a>.
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>
