.mensaje-error{
  text-align: right;
  font-size: 0.8rem;
  color: red;
}

.is-valid{
border: solid 2px green;
}

.is-invalid{
border: solid 2px red;
}

/* .contact-info__icon .fa-home{
  font-size: 27px;
}

.contact-info__icon .fa-home{
  font-size: 30px;
}

.contact-info__icon .fa-mobile{
  font-size: 50px;
} */
