<div>
  <!-- bradcam_area  -->
  <div class="bradcam_area" style="background-image: url(assets/img/banner/contactus_bg.png);">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>Contactenos</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->
  <!-- ================ contact section start ================= -->
  <section class="contact-section" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="container">
          <div class="d-sm-block mb-5 pb-4">
              <iframe class="googleMaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.8583648673604!2d-73.6406837708545!3d4.134810937426468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2f2ed6a63b69%3A0x5d291ab55838ccc2!2sC%26A%20Consultor%C3%ADas%20y%20Asesor%C3%ADas%20Empresariales!5e0!3m2!1ses!2sco!4v1654699116914!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>

          <div class="row">
              <div class="col-12">
                  <h2 class="contact-title">Déjanos un Mensaje</h2>
              </div>
              <div class="col-lg-8">

                <form id="form-aplicacion"
                    [formGroup]="formContacto"
                    #myForm="ngForm"
                    (ngSubmit)="iniciarPeticionPost()"
                    class="form-contact contact_form">

                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <input
                            class="form-control valid"
                            name="asunto"
                            id="asunto"
                            formControlName="asunto"
                            type="text"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Asunto o Tema'"
                            placeholder="Asunto o Tema"
                            [class.is-valid]="asuntoField!.valid"
                            [class.is-invalid]="asuntoField!.touched && !asuntoField!.valid">
                          <div class="mensaje-error" *ngIf="!asuntoField!.valid  && (asuntoField!.dirty || asuntoField!.touched)">
                            <div *ngIf="asuntoField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                            <input
                              class="form-control valid"
                              name="nombre"
                              id="nombre"
                              formControlName="nombre"
                              type="text"
                              onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Nombre'"
                              placeholder="Nombre"
                              [class.is-valid]="nombreField!.valid"
                              [class.is-invalid]="nombreField!.touched && !nombreField!.valid">
                            <div class="mensaje-error" *ngIf="!nombreField!.valid  && (nombreField!.dirty || nombreField!.touched)">
                              <div *ngIf="nombreField!.errors?.['required']">
                                *Este campo es requerido
                              </div>
                              <div *ngIf="nombreField!.errors?.['minlength']">
                                *El nombre tiene pocos caracteres.
                              </div>
                              <div *ngIf="nombreField!.errors?.['stringValid']">
                                *El nombre no debe tener caracteres especiales ni numeros.
                              </div>
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                            <input
                              class="form-control valid"
                              name="apellido"
                              id="apellido"
                              formControlName="apellido"
                              type="text"
                              onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Apellido'"
                              placeholder="Apellido"
                              [class.is-valid]="apellidoField!.valid"
                              [class.is-invalid]="apellidoField!.touched && !apellidoField!.valid">
                            <div class="mensaje-error" *ngIf="!apellidoField!.valid  && (apellidoField!.dirty || apellidoField!.touched)">
                              <div *ngIf="apellidoField!.errors?.['required']">
                                *Este campo es requerido
                              </div>
                              <div *ngIf="apellidoField!.errors?.['minlength']">
                                *El nombre tiene pocos caracteres.
                              </div>
                              <div *ngIf="apellidoField!.errors?.['stringValid']">
                                *El nombre no debe tener caracteres especiales ni numeros.
                              </div>
                            </div>
                        </div>
                      </div>


                      <div class="col-sm-6">
                        <div class="form-group">
                          <input
                            class="form-control valid"
                            name="email"
                            id="email"
                            formControlName="email"
                            type="email"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Correo electrónico'"
                            placeholder="Correo electrónico"
                            [class.is-valid]="emailField!.valid"
                            [class.is-invalid]="emailField!.touched && !emailField!.valid">
                          <div class="mensaje-error" *ngIf="!emailField!.valid  && (emailField!.dirty || emailField!.touched)">
                            <div *ngIf="emailField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                            <div *ngIf="emailField!.errors?.['email']">
                              *El email no es válido.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <input
                            class="form-control valid"
                            name="telefono"
                            id="telefono"
                            formControlName="telefono"
                            type="number"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Teléfono o celular'"
                            placeholder="Teléfono o celular"
                            [class.is-valid]="telefonoField!.valid"
                            [class.is-invalid]="telefonoField!.touched && !telefonoField!.valid">
                          <div class="mensaje-error" *ngIf="!telefonoField!.valid  && (telefonoField!.dirty || telefonoField!.touched)">
                            <div *ngIf="telefonoField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                            <div *ngIf="telefonoField!.errors?.['min']">
                              *El número debe tener 10 digitos.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <textarea
                            class="form-control w-100"
                            name="mensaje"
                            id="mensaje"
                            formControlName="mensaje"
                            cols="30"
                            rows="9"
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Mensaje'"
                            placeholder="Mensaje"
                            [class.is-valid]="mensajeField!.valid"
                            [class.is-invalid]="mensajeField!.touched && !mensajeField!.valid">
                          </textarea>
                          <div class="mensaje-error" *ngIf="!mensajeField!.valid  && (mensajeField!.dirty || mensajeField!.touched)">
                            <div *ngIf="mensajeField!.errors?.['required']">
                              *Este campo es requerido
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                        <input type="submit" class="button button-contactForm boxed-btn" value="Enviar">
                    </div>
                </div>
                </form>
              </div>

              <div class="col-lg-3 offset-lg-1">
                  <br /><br />
                  <div class="media contact-info">
                      <span class="contact-info__icon"><i class="fa fa-fw fa-home"></i></span>
                      <div class="media-body">
                          <h3>Villavicencio, Meta.</h3>
                          <p>C.C. Primavera Urbana <br />Of. 533</p>
                      </div>
                  </div>
                  <div class="media contact-info">
                      <span class="contact-info__icon"><i class="fa fa-fw fa-phone"></i></span>
                      <div class="media-body">
                          <h3>+57 (8) 674 1192</h3>
                          <p>Lunes a Viernes <br />8am a 6pm</p>
                      </div>
                  </div>
                  <div class="media contact-info">
                      <span class="contact-info__icon"><i class="fa fa-fw fa-envelope"></i></span>
                      <div class="media-body">
                          <h3>contacto@cya.com.co</h3>
                          <p>¡Envíanos tus PRQ en cualquier momento!</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ================ contact section end ================= -->
</div>
